Repository sourcery-ai-experiments/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: fawltydeps-src, fawltydeps-docs, fawltydeps-pipeline, fawltydeps-scripts, fawltydeps-tests, pytest-fast-only

fawltydeps-src:
  name: fawltydeps-src
  pass_filenames: false
  language: system
  entry: 'pwsh -Command ". scripts/Initialize-Shell.ps1; fawltydeps --config-file pyproject.toml"
  
    '

fawltydeps-docs:
  name: fawltydeps-docs
  pass_filenames: false
  language: system
  entry: 'pwsh -Command ". scripts/Initialize-Shell.ps1; fawltydeps --config-file docs/pyproject.toml"
  
    '

fawltydeps-pipeline:
  name: fawltydeps-pipeline
  pass_filenames: false
  language: system
  entry: 'pwsh -Command ". scripts/Initialize-Shell.ps1; fawltydeps --config-file pipeline/pyproject.toml"
  
    '

fawltydeps-scripts:
  name: fawltydeps-scripts
  pass_filenames: false
  language: system
  entry: 'pwsh -Command ". scripts/Initialize-Shell.ps1; fawltydeps --config-file scripts/pyproject.toml"
  
    '

fawltydeps-tests:
  name: fawltydeps-tests
  pass_filenames: false
  language: system
  entry: 'pwsh -Command ". scripts/Initialize-Shell.ps1; fawltydeps --config-file tests/pyproject.toml"
  
    '

pytest-fast-only:
  name: pytest-fast-only
  pass_filenames: false
  language: system
  entry: 'pwsh -Command ". scripts/Initialize-Shell.ps1; pytest -m ''not slow'' --suppress-no-test-exit-code"
  
    '

Update .renovaterc.json
  .renovaterc.json
Due: none

Sync and lock highest dependencies
  lock-high.json
Due: none

Document notebook patching
  docs/boilercv_docs/patch_nbs.py
  docs/conf.py
Due: fawltydeps-docs, pytest-fast-only

Sync with template
  .copier-answers.yml
  .github/CODE_OF_CONDUCT.md
  .github/DISCUSSION_TEMPLATE/general.yaml
  .github/DISCUSSION_TEMPLATE/ideas-for-docs.yaml
  .github/DISCUSSION_TEMPLATE/ideas-for-infrastructure.yaml
  .github/DISCUSSION_TEMPLATE/ideas.yaml
  .github/DISCUSSION_TEMPLATE/internal.yaml
  .github/DISCUSSION_TEMPLATE/q-a.yaml
  .github/DISCUSSION_TEMPLATE/show-and-tell.yaml
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/ISSUE_TEMPLATE/ideas-for-docs.yaml
  .github/ISSUE_TEMPLATE/infrastructure-change.yaml
  .github/ISSUE_TEMPLATE/internal.yaml
  .github/SECURITY.md
  .github/pull_request_template.md
  .github/workflows/high.yml
  .renovaterc.json
  changelog/towncrier_template.md.jinja
  scripts/boilercv_tools/sync.py
  scripts/pyproject.toml
Due: fawltydeps-scripts, pytest-fast-only

Sync with template
  .copier-answers.yml
  README.md
  docs/index.md
Due: fawltydeps-docs, pytest-fast-only

Sync with template
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/internal.yaml
Due: none

Number figures
  docs/conf.py
Due: fawltydeps-docs, pytest-fast-only

Migrate out constants
  pipeline/boilercv_pipeline/equations/__init__.py
  pipeline/boilercv_pipeline/equations/convert_latex_to_sympy.py
  pipeline/boilercv_pipeline/equations/convert_pngs_to_latex.py
  pipeline/boilercv_pipeline/equations/convert_sympy_to_python.py
  pipeline/boilercv_pipeline/equations/get_png_equations.py
  scripts/preview_sympy.ipynb
Due: fawltydeps-pipeline, fawltydeps-scripts, pytest-fast-only

Add changelog entry
  changelog/10.change.md
Due: none

Encode test expectations and test default keyword values in the TOML
  .taplo.toml
  data/equations.toml
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter.py
  pipeline/boilercv_pipeline/correlations/symbolic/dimensionless_bubble_diameter.py
  pipeline/boilercv_pipeline/equations/__init__.py
  pipeline/boilercv_pipeline/equations/convert_latex_to_sympy.py
  pipeline/boilercv_pipeline/equations/convert_pngs_to_latex.py
  pipeline/boilercv_pipeline/equations/convert_sympy_to_python.py
  pipeline/boilercv_pipeline/equations/get_png_equations.py
  scripts/preview_sympy.ipynb
  tests/boilercv_tests/test_equations.py
Due: fawltydeps-pipeline, fawltydeps-scripts, fawltydeps-tests, pytest-fast-only

Restructure equations. Isolate correlation-specific concerns from implicit equations data schema
  changelog/10.change.md
  changelog/182.change.md
  data/.gitignore
  data/dimensionless_bubble_diameter_equations.toml
  pipeline/boilercv_pipeline/correlations/__init__.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/__init__.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/symbolic.py
  pipeline/boilercv_pipeline/correlations/nusselt/__init__.py
  pipeline/boilercv_pipeline/correlations/symbolic/__init__.py
  pipeline/boilercv_pipeline/equations/__init__.py
  pipeline/boilercv_pipeline/equations/convert_latex_to_sympy.py
  pipeline/boilercv_pipeline/equations/convert_pngs_to_latex.py
  pipeline/boilercv_pipeline/equations/convert_sympy_to_python.py
  pipeline/boilercv_pipeline/equations/get_png_equations.py
  src/boilercv/dimensionless_params/__init__.py
  tests/boilercv_tests/test_equations.py
  tests/boilercv_tests/test_equations/__init__.py
  tests/boilercv_tests/test_equations/generate.py
  tests/boilercv_tests/test_equations/test_dimensionless_bubble_diameter.py
Due: fawltydeps-src, fawltydeps-pipeline, fawltydeps-tests, pytest-fast-only

Migrate TOML equations into simple Python dataclasses to facilitate docs and testing.
  .taplo.toml
  .vscode/tasks.json
  data/dimensionless_bubble_diameter_equations.toml
  docs/conf.py
  docs/experiments/e230920_subcool/find_tracks.ipynb
  docs/experiments/e230920_subcool/find_tracks_trackpy.ipynb
  docs/experiments/e230920_subcool/plot_tracks.ipynb
  docs/pyproject.toml
  pipeline/boilercv_pipeline/correlations/__init__.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/generated.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/params.py
  pipeline/boilercv_pipeline/equations/__init__.py
  pipeline/boilercv_pipeline/equations/convert_latex_to_sympy.py
  pipeline/boilercv_pipeline/equations/convert_pngs_to_latex.py
  pipeline/boilercv_pipeline/equations/convert_sympy_to_python.py
  pipeline/pyproject.toml
Due: fawltydeps-docs, fawltydeps-pipeline, pytest-fast-only

Migrate to Python-based equation source
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/generated.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/params.py
  pipeline/boilercv_pipeline/equations/__init__.py
  pipeline/boilercv_pipeline/equations/convert_latex_to_sympy.py
  pipeline/boilercv_pipeline/equations/convert_pngs_to_latex.py
  pipeline/boilercv_pipeline/equations/get_png_equations.py
  pipeline/pyproject.toml
  scripts/convert_latex_to_sympy.py
Due: fawltydeps-pipeline, fawltydeps-scripts, pytest-fast-only

Update correlation substitutions
  docs/experiments/e230920_subcool/correlations.md
Due: fawltydeps-docs, pytest-fast-only

Isolate `.devcontainer` dependency management
  .renovaterc.json
Due: none

Migrate manually documented "unreleased" changes prior to Towncrier usage to orphan fragments
  CHANGELOG.md
  changelog/+42f300e2.change
  changelog/+5c6a0a7a.change
  changelog/+8e6b8716.change
Due: none

Merge latest changelog template from towncrier to facilitate orphan fragments
  .github/SECURITY.md
  changelog/+42f300e2.change.md
  changelog/+5c6a0a7a.change.md
  changelog/+8e6b8716.change.md
  changelog/towncrier_template.md.jinja
Due: none

Switch to `debugpy`
  .vscode/launch.json
Due: none

Refactor `Param` type
  pipeline/boilercv_pipeline/correlations/__init__.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/params.py
  pipeline/boilercv_pipeline/equations/__init__.py
Due: fawltydeps-pipeline

Implement `MorphMap`
  .vscode/settings.json
  docs/conf.py
  lock.json
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/equations.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/update_expectations.py
  pipeline/boilercv_pipeline/equations/__init__.py
  pipeline/boilercv_pipeline/equations/convert_latex_to_sympy.py
  pipeline/boilercv_pipeline/equations/convert_pngs_to_latex.py
  pipeline/boilercv_pipeline/equations/convert_sympy_to_python.py
  pipeline/boilercv_pipeline/equations/get_png_equations.py
  pyproject.toml
  tests/boilercv_tests/test_equations/test_dimensionless_bubble_diameter.py
  tests/boilercv_tests/test_morph_map.py
Due: fawltydeps-docs, fawltydeps-pipeline, fawltydeps-tests, pytest-fast-only

Add changelog entry
  changelog/185.change.md
Due: none

Indicate location of change
  changelog/185.change.md
Due: none

Fix dependencies
  pipeline/pyproject.toml
Due: fawltydeps-pipeline, pytest-fast-only

Implement params, and mostly reach prior feature set
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/equations.py
  pipeline/boilercv_pipeline/equations/__init__.py
Due: fawltydeps-pipeline

Isolate params and equations. Adopt hybrid approach of Python-and-TOML-sourced equation configs. Begin modeling the schema
  .taplo.toml
  docs/conf.py
  pipeline/boilercv_pipeline/correlations/__init__.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/equations.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/equations.toml
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/expectations.toml
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/generated.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/params.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/update_expectations.py
  pipeline/boilercv_pipeline/equations/__init__.py
  pipeline/boilercv_pipeline/equations/convert_latex_to_sympy.py
  pipeline/boilercv_pipeline/equations/convert_pngs_to_latex.py
  pipeline/boilercv_pipeline/equations/convert_sympy_to_python.py
  pipeline/boilercv_pipeline/equations/get_png_equations.py
  tests/boilercv_tests/test_equations/generate.py
  tests/boilercv_tests/test_equations/test_dimensionless_bubble_diameter.py
Due: fawltydeps-docs, fawltydeps-pipeline, fawltydeps-tests, pytest-fast-only

Get `Params` working
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/equations.py
  pipeline/boilercv_pipeline/equations/__init__.py
  pipeline/pyproject.toml
Due: fawltydeps-pipeline, pytest-fast-only

Refactor `MorphMap`. Use `TypeVars` only once per class, inline some logic, fix LaTeX-SymPy converter
  .vscode/launch.json
  .vscode/settings.json
  docs/conf.py
  pipeline/boilercv_pipeline/correlations/__init__.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/equations.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/equations.toml
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/symbolic.py
  pipeline/boilercv_pipeline/equations/__init__.py
  pipeline/boilercv_pipeline/equations/convert_latex_to_sympy.py
  pipeline/boilercv_pipeline/equations/convert_pngs_to_latex.py
  scripts/preview_sympy.ipynb
  tests/boilercv_tests/test_equations/test_dimensionless_bubble_diameter.py
  tests/boilercv_tests/test_morph_map.py
Due: fawltydeps-docs, fawltydeps-pipeline, fawltydeps-scripts, fawltydeps-tests, pytest-fast-only

Fix docs
  docs/conf.py
Due: fawltydeps-docs, pytest-fast-only

Commit partial work and change entry
  changelog/189.change.md
  docs/conf.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/equations.py
  pipeline/boilercv_pipeline/equations/convert_latex_to_sympy.py
  pipeline/boilercv_pipeline/equations/generate_sympy.py
Due: fawltydeps-docs, fawltydeps-pipeline, pytest-fast-only

Rename `MorphMap` to `Morph`, facilitate piping `Morph` instances rather than generic dictionaries.
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/equations.py
  pipeline/boilercv_pipeline/equations/__init__.py
  pipeline/boilercv_pipeline/equations/convert_latex_to_sympy.py
  tests/boilercv_tests/test_morph.py
Due: fawltydeps-pipeline, fawltydeps-tests, pytest-fast-only

Define `Morph` overloads and test against various overloads.
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/equations.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/symbolic.py
  pipeline/boilercv_pipeline/equations/__init__.py
  pipeline/boilercv_pipeline/equations/convert_latex_to_sympy.py
  pipeline/boilercv_pipeline/equations/convert_sympy_to_python.py
  pipeline/boilercv_pipeline/equations/generate_sympy.py
  pipeline/pyproject.toml
  pyproject.toml
  tests/boilercv_tests/test_equations/test_dimensionless_bubble_diameter.py
  tests/boilercv_tests/test_morph.py
  tests/pyproject.toml
Due: fawltydeps-pipeline, fawltydeps-tests, pytest-fast-only

Fix the `Morph.pipe` overload
  pipeline/boilercv_pipeline/equations/__init__.py
  tests/boilercv_tests/test_morph.py
Due: fawltydeps-pipeline, fawltydeps-tests, pytest-fast-only

Fix the `Morph.pipe_keys` and `pipe_values` overloads
  pipeline/boilercv_pipeline/equations/__init__.py
Due: fawltydeps-pipeline

Reduce `Morph.pipe` overload complexity, covering more cases with fewer overloads. Implement basic tests
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/equations.py
  pipeline/boilercv_pipeline/equations/__init__.py
  pipeline/boilercv_pipeline/equations/generate_sympy.py
  tests/boilercv_tests/test_equations/test_dimensionless_bubble_diameter.py
  tests/boilercv_tests/test_morph.py
Due: fawltydeps-pipeline, fawltydeps-tests, pytest-fast-only

Base key/value morphs directly on overall morph
  pipeline/boilercv_pipeline/equations/__init__.py
  tests/boilercv_tests/test_morph.py
Due: fawltydeps-pipeline, fawltydeps-tests, pytest-fast-only

Separate types, morphs, and constants by module
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/equations.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/morphs.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/types.py
  pipeline/boilercv_pipeline/equations/__init__.py
  pipeline/boilercv_pipeline/equations/convert_latex_to_sympy.py
Due: fawltydeps-pipeline

Support morph registration. Fix references in equation converter scripts
  .vscode/settings.json
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/morphs.py
  pipeline/boilercv_pipeline/equations/__init__.py
  pipeline/boilercv_pipeline/equations/convert_latex_to_sympy.py
  pipeline/boilercv_pipeline/equations/generate_sympy.py
Due: fawltydeps-pipeline

Path conditions:
  fawltydeps-src: any of: (?x)^(
  src/.*$
)$

  fawltydeps-docs: any of: (?x)^(
  docs/.*$
)$

  fawltydeps-pipeline: any of: (?x)^(
  pipeline/.*$
)$

  fawltydeps-scripts: any of: (?x)^(
  scripts/.*$
)$

  fawltydeps-tests: any of: (?x)^(
  tests/.*$
)$

  pytest-fast-only: any of: (?x)^(
  .*/pyproject\.toml
  |docs/.*
  |requirements/.*
  |scripts/.*
  |src/.*
  |tests/.*
)$

