Repository sourcery-ai-experiments/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: fawltydeps-src, fawltydeps-docs, fawltydeps-pipeline, fawltydeps-scripts, fawltydeps-tests, pytest-fast-only

fawltydeps-src:
  name: fawltydeps-src
  pass_filenames: false
  language: system
  entry: 'pwsh -Command ". scripts/Initialize-Shell.ps1; fawltydeps --config-file pyproject.toml"
  
    '

fawltydeps-docs:
  name: fawltydeps-docs
  pass_filenames: false
  language: system
  entry: 'pwsh -Command ". scripts/Initialize-Shell.ps1; fawltydeps --config-file docs/pyproject.toml"
  
    '

fawltydeps-pipeline:
  name: fawltydeps-pipeline
  pass_filenames: false
  language: system
  entry: 'pwsh -Command ". scripts/Initialize-Shell.ps1; fawltydeps --config-file pipeline/pyproject.toml"
  
    '

fawltydeps-scripts:
  name: fawltydeps-scripts
  pass_filenames: false
  language: system
  entry: 'pwsh -Command ". scripts/Initialize-Shell.ps1; fawltydeps --config-file scripts/pyproject.toml"
  
    '

fawltydeps-tests:
  name: fawltydeps-tests
  pass_filenames: false
  language: system
  entry: 'pwsh -Command ". scripts/Initialize-Shell.ps1; fawltydeps --config-file tests/pyproject.toml"
  
    '

pytest-fast-only:
  name: pytest-fast-only
  pass_filenames: false
  language: system
  entry: 'pwsh -Command ". scripts/Initialize-Shell.ps1; pytest -m ''not slow'' --suppress-no-test-exit-code"
  
    '

Sync with template
  .copier-answers.yml
  docs/boilercv_docs/__init__.py
  docs/conf.py
Due: fawltydeps-docs, pytest-fast-only

Fix docs nitpick
  docs/conf.py
Due: fawltydeps-docs, pytest-fast-only

Update refs
  docs/refs.bib
Due: fawltydeps-docs, pytest-fast-only

Fix docs nitpicks about pipelines, bump ruff
  .pre-commit-config.yaml
  docs/conf.py
  pipeline/boilercv_pipeline/correlations.py
  pipeline/boilercv_pipeline/examples/blobs/__init__.py
  pipeline/boilercv_pipeline/experiments/e230920_subcool/__init__.py
  pipeline/boilercv_pipeline/sets.py
  pipeline/boilercv_pipeline/types.py
  pyproject.toml
Due: fawltydeps-docs, fawltydeps-pipeline, pytest-fast-only

Implement more correlations. Improve warm/cool palettes.
  docs/conf.py
  docs/experiments/e230920_subcool/find_centers.ipynb
  docs/experiments/e230920_subcool/find_objects.ipynb
  docs/experiments/e230920_subcool/find_tracks_trackpy.ipynb
  docs/experiments/e230920_subcool/plot_tracks.ipynb
  docs/experiments/e240215_plotting/palettes.ipynb
  pipeline/boilercv_pipeline/correlations.py
  pipeline/boilercv_pipeline/examples/previews/gray_composite.py
  pipeline/boilercv_pipeline/experiments/e240215_plotting/__init__.py
  pipeline/boilercv_pipeline/previews/__main__.py
  src/boilercv/images/__init__.py
  tests/boilercv_tests/test_boilercv.py
Due: fawltydeps-src, fawltydeps-docs, fawltydeps-pipeline, fawltydeps-tests, pytest-fast-only

Apply a single condition to existing correlations.
  docs/experiments/e230920_subcool/find_tracks_trackpy.ipynb
  pipeline/boilercv_pipeline/correlations.py
  tests/boilercv_tests/test_boilercv.py
Due: fawltydeps-docs, fawltydeps-pipeline, fawltydeps-tests, pytest-fast-only

Choose test case that results in no `np.nan` values for any tested correlation
  pipeline/boilercv_pipeline/correlations.py
  tests/boilercv_tests/generate.py
  tests/boilercv_tests/test_boilercv.py
Due: fawltydeps-pipeline, fawltydeps-tests, pytest-fast-only

Bump copier, remove `pyyaml-include` override
  requirements/dev.in
Due: pytest-fast-only

Specify non-broken IPython version for local development
  scripts/pyproject.toml
Due: fawltydeps-scripts, pytest-fast-only

Sync and lock
  lock.json
Due: none

Derive correlation lambdas directly from latex equations
  docs/boilercv_docs/equations.py
  docs/conf.py
  docs/experiments/e230920_subcool/correlations.md
  docs/experiments/e230920_subcool/find_tracks_trackpy.ipynb
  docs/experiments/e230920_subcool/index.md
  pipeline/boilercv_pipeline/correlations.py
  pyproject.toml
  requirements/dvc.in
  requirements/override.txt
  scripts/boilercv_tools/sync.py
Due: fawltydeps-docs, fawltydeps-pipeline, fawltydeps-scripts, pytest-fast-only

Isolate equation generator due to temporary antlr4 incompatibility
  docs/boilercv_docs/equations.py
  pipeline/boilercv_pipeline/correlations.py
  pyproject.toml
  requirements/override.txt
  scripts/equations.py
  scripts/pyproject.toml
Due: fawltydeps-docs, fawltydeps-pipeline, fawltydeps-scripts, pytest-fast-only

Fix docs build
  docs/experiments/e230920_subcool/plot_tracks.ipynb
Due: fawltydeps-docs, pytest-fast-only

Rename equations
  docs/experiments/e230920_subcool/correlations.md
  docs/experiments/e230920_subcool/find_tracks_trackpy.ipynb
  docs/experiments/e230920_subcool/plot_tracks.ipynb
  pipeline/boilercv_pipeline/correlations.py
Due: fawltydeps-docs, fawltydeps-pipeline, pytest-fast-only

Implement conversion from LaTeX to SymPy and Python
  data/.gitignore
  data/equations.toml
  docs/conf.py
  docs/experiments/e230920_subcool/correlations.md
  docs/pyproject.toml
  pipeline/boilercv_pipeline/correlations.py
  pipeline/boilercv_pipeline/manual/__init__.py
  pipeline/boilercv_pipeline/manual/convert_latex_to_sympy.py
  pipeline/boilercv_pipeline/manual/convert_sympy_to_python.py
  pipeline/pyproject.toml
  scripts/equations.py
  scripts/parse_latex.py
Due: fawltydeps-docs, fawltydeps-pipeline, fawltydeps-scripts, pytest-fast-only

Implement conversion from PNG to LaTeX, refine and preview other conversions
  .vscode/launch.json
  .vscode/tasks.json
  data/equations.toml
  docs/experiments/e230920_subcool/correlations.md
  pipeline/boilercv_pipeline/correlations.py
  pipeline/boilercv_pipeline/manual/__init__.py
  pipeline/boilercv_pipeline/manual/convert_latex_to_sympy.py
  pipeline/boilercv_pipeline/manual/convert_pngs_to_latex.py
  pipeline/boilercv_pipeline/manual/convert_sympy_to_python.py
  pipeline/boilercv_pipeline/manual/get_png_equations.py
  pipeline/pyproject.toml
  requirements/uv.in
  scripts/Common.ps1
  scripts/Sync-Py.ps1
  scripts/boilercv_tools/__main__.py
  scripts/convert_latex_to_sympy.py
  scripts/convert_png_to_latex.py
  scripts/preview_sympy.ipynb
Due: fawltydeps-docs, fawltydeps-pipeline, fawltydeps-scripts, pytest-fast-only

Try this
  .vscode/tasks.json
  scripts/Common.ps1
  scripts/Initialize-Shell.ps1
Due: fawltydeps-scripts, pytest-fast-only

Fix `uv venv` calls
  pipeline/boilercv_pipeline/manual/convert_pngs_to_latex.py
  scripts/Common.ps1
Due: fawltydeps-pipeline, fawltydeps-scripts, pytest-fast-only

Add Akiyama (1973) correlation and prepare to test SymPy correlation expressions
  data/equations.toml
  docs/experiments/e230920_subcool/correlations.md
  pipeline/boilercv_pipeline/correlations.py
  tests/boilercv_tests/test_boilercv.py
Due: fawltydeps-docs, fawltydeps-pipeline, fawltydeps-tests, pytest-fast-only

Rearrange operations to replace `;` with `:` in `PATH` on Ubuntu due to `uv`-bundled `activate.ps1` issue
  scripts/Initialize-Shell.ps1
  scripts/Sync-Py.ps1
Due: fawltydeps-scripts, pytest-fast-only

Fix
  scripts/Common.ps1
  scripts/Initialize-Shell.ps1
  scripts/Sync-Py.ps1
Due: fawltydeps-scripts, pytest-fast-only

Bump `sphinx-tippy`
  docs/pyproject.toml
Due: fawltydeps-docs, pytest-fast-only

Factor out equation stages into their own module
  pipeline/boilercv_pipeline/equations/__init__.py
  pipeline/boilercv_pipeline/equations/convert_latex_to_sympy.py
  pipeline/boilercv_pipeline/equations/convert_pngs_to_latex.py
  pipeline/boilercv_pipeline/equations/convert_sympy_to_python.py
  pipeline/boilercv_pipeline/equations/get_png_equations.py
  pipeline/boilercv_pipeline/manual/__init__.py
Due: fawltydeps-pipeline

Factor out equation tests
  tests/boilercv_tests/test_boilercv.py
  tests/boilercv_tests/test_equations.py
Due: fawltydeps-tests, pytest-fast-only

Expand `boilercv_pipeline.correlations` module into a library in preparation for a unified correlation representation
  params.yaml
  pipeline/boilercv_pipeline/correlations/__init__.py
  pipeline/boilercv_pipeline/equations/convert_latex_to_sympy.py
  pipeline/boilercv_pipeline/models/paths.py
Due: fawltydeps-pipeline

Separate symbolic from "lambdified" correlation representations and experiment with testing.
  pipeline/boilercv_pipeline/correlations/__init__.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter.py
  pipeline/boilercv_pipeline/correlations/symbolic/__init__.py
  pipeline/boilercv_pipeline/correlations/symbolic/dimensionless_bubble_diameter.py
  tests/boilercv_tests/test_equations.py
  tests/pyproject.toml
Due: fawltydeps-pipeline, fawltydeps-tests, pytest-fast-only

Comment out correlations path for now
  dvc.yaml
Due: none

Sync with template
  .copier-answers.yml
  docs/conf.py
  requirements/dev.in
  scripts/Sync-Template.ps1
  scripts/boilercv_tools/__main__.py
Due: fawltydeps-docs, fawltydeps-scripts, pytest-fast-only

Sync with template
  .copier-answers.yml
Due: none

Sync with template
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/contrib.yml
  .github/workflows/docs.yml
  .github/workflows/high.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .python-versions
  .vscode/launch.json
  changelog/towncrier_template.md.jinja
  lock.json
  pipeline/pyproject.toml
  requirements/nodeps.in
  requirements/uv.in
  scripts/Sync-Py.ps1
  scripts/boilercv_tools/__main__.py
  scripts/boilercv_tools/sync.py
  scripts/boilercv_tools/types.py
  scripts/pyproject.toml
  tests/pyproject.toml
Due: fawltydeps-pipeline, fawltydeps-scripts, fawltydeps-tests, pytest-fast-only

Path conditions:
  fawltydeps-src: any of: (?x)^(
  src/.*$
)$

  fawltydeps-docs: any of: (?x)^(
  docs/.*$
)$

  fawltydeps-pipeline: any of: (?x)^(
  pipeline/.*$
)$

  fawltydeps-scripts: any of: (?x)^(
  scripts/.*$
)$

  fawltydeps-tests: any of: (?x)^(
  tests/.*$
)$

  pytest-fast-only: any of: (?x)^(
  .*/pyproject\.toml
  |docs/.*
  |requirements/.*
  |scripts/.*
  |src/.*
  |tests/.*
)$

