Repository sourcery-ai-experiments/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: fawltydeps-src, fawltydeps-docs, fawltydeps-pipeline, fawltydeps-scripts, fawltydeps-tests, pytest-fast-only

Path conditions:
  fawltydeps-src: any of: (?x)^(
  src/.*$
)$

  fawltydeps-docs: any of: (?x)^(
  docs/.*$
)$

  fawltydeps-pipeline: any of: (?x)^(
  pipeline/.*$
)$

  fawltydeps-scripts: any of: (?x)^(
  scripts/.*$
)$

  fawltydeps-tests: any of: (?x)^(
  tests/.*$
)$

  pytest-fast-only: any of: (?x)^(
  .*/pyproject\.toml
  |docs/.*
  |requirements/.*
  |scripts/.*
  |src/.*
  |tests/.*
)$


Fix docs (mostly).
  docs/conf.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/equations.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/types.py
Due: fawltydeps-docs, fawltydeps-pipeline, pytest-fast-only

Generate arbitrary solutions to correlations
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/equations.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/morphs.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/solutions.toml
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/types.py
  pipeline/boilercv_pipeline/equations/__init__.py
  pipeline/boilercv_pipeline/equations/convert_latex_to_sympy.py
  pipeline/boilercv_pipeline/equations/convert_sympy_to_python.py
  pipeline/boilercv_pipeline/equations/generate_sympy.py
  pipeline/pyproject.toml
Due: fawltydeps-pipeline, pytest-fast-only

Always sort
  pipeline/boilercv_pipeline/equations/generate_sympy.py
Due: fawltydeps-pipeline

Sync and lock
  lock.json
Due: none

Implement TOML morph
  docs/conf.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/equations.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/morphs.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/types.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/update_expectations.py
  pipeline/boilercv_pipeline/equations/__init__.py
  pipeline/boilercv_pipeline/equations/convert_latex_to_sympy.py
  pipeline/boilercv_pipeline/equations/convert_pngs_to_latex.py
  pipeline/boilercv_pipeline/equations/convert_sympy_to_python.py
  pipeline/boilercv_pipeline/equations/generate_sympy.py
  pipeline/boilercv_pipeline/equations/get_png_equations.py
  tests/boilercv_tests/test_equations/test_dimensionless_bubble_diameter.py
Due: fawltydeps-docs, fawltydeps-pipeline, fawltydeps-tests, pytest-fast-only

Begin TOML sync implementation
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/morphs.py
  pipeline/boilercv_pipeline/equations/__init__.py
  tests/boilercv_tests/test_morph.py
Due: fawltydeps-pipeline, fawltydeps-tests, pytest-fast-only

Finish TOML merge implementation
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/morphs.py
  pipeline/boilercv_pipeline/equations/__init__.py
Due: fawltydeps-pipeline

Decouple TOML implementation
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/morphs.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/solutions.toml
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/types.py
  pipeline/boilercv_pipeline/equations/solve.py
  pipeline/pyproject.toml
Due: fawltydeps-pipeline, pytest-fast-only

Sync with template
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/internal.yaml
Due: none

Fix `high` CI run
  .github/workflows/high.yml
Due: none

Sync with template
  .copier-answers.yml
  changelog/towncrier_template.md.jinja
Due: none

Rebuild lock in more situations
  lock-high.json
  lock.json
  requirements/uv.in
  scripts/boilercv_tools/__main__.py
  scripts/boilercv_tools/sync.py
  scripts/boilercv_tools/types.py
Due: fawltydeps-scripts, pytest-fast-only

Move utility function lower
  scripts/boilercv_tools/sync.py
Due: fawltydeps-scripts, pytest-fast-only

Add changelog entry
  changelog/194.change.md
Due: none

Migrate stabilized `Morph` functionality to `boilercv`. Fix docs nitpicks.
  docs/conf.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/morphs.py
  pipeline/boilercv_pipeline/correlations/dimensionless_bubble_diameter/types.py
  pipeline/boilercv_pipeline/equations/convert_latex_to_sympy.py
  pipeline/pyproject.toml
  pyproject.toml
  scripts/boilercv_tools/sync.py
  src/boilercv/morphs/__init__.py
  src/boilercv/morphs/types.py
  tests/boilercv_tests/test_equations/test_dimensionless_bubble_diameter.py
  tests/boilercv_tests/test_morphs.py
Due: fawltydeps-src, fawltydeps-docs, fawltydeps-pipeline, fawltydeps-scripts, fawltydeps-tests, pytest-fast-only

Add changelog entry
  changelog/188.change.md
Due: none
