Repository sourcery-ai-experiments/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: fawltydeps-src, fawltydeps-docs, fawltydeps-pipeline, fawltydeps-scripts, fawltydeps-tests, pytest-fast-only

Path conditions:
  fawltydeps-src: any of: (?x)^(
  src/.*$
)$

  fawltydeps-docs: any of: (?x)^(
  docs/.*$
)$

  fawltydeps-pipeline: any of: (?x)^(
  pipeline/.*$
)$

  fawltydeps-scripts: any of: (?x)^(
  scripts/.*$
)$

  fawltydeps-tests: any of: (?x)^(
  tests/.*$
)$

  pytest-fast-only: any of: (?x)^(
  .*/pyproject\.toml
  |docs/.*
  |requirements/.*
  |scripts/.*
  |src/.*
  |tests/.*
)$


Sync with template. Force re-lock
  .copier-answers.yml
  lock.json
  scripts/Sync-Py.ps1
  scripts/boilercv_tools/sync.py
Due: fawltydeps-scripts, pytest-fast-only

Sync and lock
  lock.json
Due: none

Fix lock behavior
  lock.json
  scripts/boilercv_tools/__main__.py
  scripts/boilercv_tools/sync.py
Due: fawltydeps-scripts, pytest-fast-only

Once more with feeling...
  scripts/Sync-Py.ps1
  scripts/boilercv_tools/__main__.py
  scripts/boilercv_tools/sync.py
Due: fawltydeps-scripts, pytest-fast-only

Sync with template
  .copier-answers.yml
  scripts/boilercv_tools/sync.py
  scripts/boilercv_tools/types.py
Due: fawltydeps-scripts, pytest-fast-only

Remove dead code
  scripts/boilercv_tools/__main__.py
  scripts/boilercv_tools/sync.py
Due: fawltydeps-scripts, pytest-fast-only

Cache on entry and exit of the sync job
  .github/workflows/ci.yml
Due: none

Only cache again if hash changed
  .github/workflows/ci.yml
Due: none

Now try with no cache
  .github/workflows/ci.yml
Due: none

Back to caching!
  .github/workflows/ci.yml
Due: none

Lock low and high separately
  .github/workflows/high.yml
  scripts/Sync-Py.ps1
  scripts/boilercv_tools/__main__.py
  scripts/boilercv_tools/sync.py
  scripts/boilercv_tools/types.py
Due: fawltydeps-scripts, pytest-fast-only

Move Copier to core tools
  requirements/dev.in
  scripts/Sync-Py.ps1
  scripts/pyproject.toml
Due: fawltydeps-scripts, pytest-fast-only

Invoke installed version of tools explicitly to avoid getting old version from hostedtoolcache
  lock-high.json
  scripts/Sync-Py.ps1
  scripts/boilercv_tools/sync.py
Due: fawltydeps-scripts, pytest-fast-only

It was actually because of a stale template...
  .copier-answers.yml
  .pre-commit-config.yaml
  scripts/Sync-Py.ps1
Due: fawltydeps-scripts, pytest-fast-only

Add post-checkout task back
  .pre-commit-config.yaml
Due: none

Exclude discarding lockfile changes from post-checkout hook
  .pre-commit-config.yaml
Due: none

Need to stash since cache can bring changes in
  scripts/Sync-Py.ps1
Due: fawltydeps-scripts, pytest-fast-only

Maybe I need to save?
  scripts/Sync-Py.ps1
Due: fawltydeps-scripts, pytest-fast-only

Maybe the change detection isn't good enough
  scripts/Sync-Py.ps1
Due: fawltydeps-scripts, pytest-fast-only

Only cache in the matrix
  .github/workflows/ci.yml
  scripts/Sync-Py.ps1
Due: fawltydeps-scripts, pytest-fast-only

Sync outside of tools
  .github/workflows/ci.yml
  scripts/Sync-Py.ps1
  scripts/boilercv_tools/__main__.py
  scripts/boilercv_tools/sync.py
Due: fawltydeps-scripts, pytest-fast-only

Update MacOS 13 runners to 14 to see if caching speeds up. Update template even in lock step
  .github/workflows/ci.yml
  .github/workflows/contrib.yml
  .github/workflows/high.yml
Due: none

Actually upload `lock-high.json` artifact in `high.yml`
  .github/workflows/high.yml
Due: none

Revert runners to `macos-13` since PyTable doesn't support it yet
  .github/workflows/ci.yml
  .github/workflows/contrib.yml
  .github/workflows/high.yml
Due: none

Sync and lock highest dependencies
  lock-high.json
Due: none

Don't deploy docs on runs of `high.yml`
  .github/workflows/high.yml
Due: none

Try piping
  scripts/Sync-Py.ps1
Due: fawltydeps-scripts, pytest-fast-only

Bump
  requirements/dev.in
Due: pytest-fast-only

Download artifact sooner
  .github/workflows/ci.yml
  .github/workflows/high.yml
Due: none

Sync with template
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/contrib.yml
  .github/workflows/release.yml
Due: none

Sync with template
  .copier-answers.yml
Due: none

Sync with template
  .copier-answers.yml
  .github/workflows/high.yml
Due: none
