Repository sourcery-ai-experiments/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-python, sync-local-dev-configs, synchronize-params, hide-docs-nb-inputs, pytest-fast-only

.pre-commit-config.yaml:

ci:
  skip:
    - "sync-python"
    - "sync-local-dev-configs"
    - "synchronize-params"
    - "hide-docs-nb-inputs"
    - "pytest-fast-only"
    - "dvc-post-checkout"
    - "dvc-pre-push"
  autoupdate_schedule: "quarterly"
repos:
  - repo: "meta"
    hooks:
      # ? Enable this to ensure each hook runs against at least one file
      # - id: "check-hooks-apply"
      - id: "check-useless-excludes"
  - repo: "local"
    hooks:
      - id: "sync-python"
        name: "sync-python"
        pass_filenames: false
        language: "system"
        entry: "pwsh scripts/Sync-Python.ps1"
        files: |
          (?x)^(
            .*/pyproject\.toml
            |\tools/.*
          )$
      - id: "sync-local-dev-configs"
        name: "sync-local-dev-configs"
        pass_filenames: false
        language: "system"
        entry: "pwsh -Command python -m boilercv_tools sync-local-dev-configs"
        files: |
          (?x)^(
            .*/pyproject\.toml
            |\tools/.*
            |docs/.*
            |src/.*
            |tests/.*
          )$
      - id: "synchronize-params"
        name: "synchronize-params"
        pass_filenames: false
        language: "system"
        entry: "pwsh -Command python -m boilercv.models.params"
        files: |
          (?x)^(
            src/boilercv/models/.*
            |params.yaml
          )$
      - id: "hide-docs-nb-inputs"
        name: "hide-docs-nb-inputs"
        pass_filenames: false
        language: "system"
        entry: "pwsh -Command python -m boilercv.docs"
        files: |
          (?x)^(
            docs/.*\.ipynb
          )$
      - id: "pytest-fast-only"
        name: "pytest-fast-only"
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command "pytest -m 'not slow' --suppress-no-test-exit-code"
        files: |
          (?x)^(
            .*/pyproject\.toml
            |\tools/.*
            |docs/.*
            |src/.*
            |tests/.*
          )$
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.5.0"
    hooks:
      - id: "end-of-file-fixer"
      - id: "trailing-whitespace"
  - repo: "https://github.com/iterative/dvc"
    rev: "3.45.0"
    hooks:
      - id: "dvc-post-checkout"
        additional_dependencies: ["dvc[gs]"]
      - id: "dvc-pre-push"
        additional_dependencies: ["dvc[gs]"]
  - repo: "https://github.com/tweag/FawltyDeps"
    rev: "v0.15.0"
    hooks:
      - id: "check-undeclared"
        files: |
          (?x)^(
            src/.*
          )$
      - id: "check-unused"
        files: |
          (?x)^(
            pyproject\.toml
          )$
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.350
    hooks:
      - id: pyright
  - repo: "https://github.com/DavidAnson/markdownlint-cli2"
    rev: "v0.11.0"
    hooks:
      - id: "markdownlint-cli2-fix"
  - repo: "https://github.com/srstevenson/nb-clean"
    rev: "3.2.0"
    hooks:
      - id: "nb-clean"
        args:
          - "--remove-empty-cells"
          - "--preserve-notebook-metadata"
          - "--preserve-cell-metadata"
          - "tags"
          - "--"
        files: |
          (?x)^(
            docs/.*
            |src/.*
            |tests/.*
          )$
  - repo: "https://github.com/charliermarsh/ruff-pre-commit"
    rev: "v0.2.1"
    hooks:
      - id: "ruff"
        args: ["--fixable", "PIE790"]
        types_or: ["python", "pyi", "jupyter"]
      - id: "ruff-format"
        types_or: ["python", "pyi", "jupyter"]

Sync project with template
  .copier-answers.yml
  .devcontainer/devcontainer.json
  scripts/pyproject.toml
Due: sync-python, sync-local-dev-configs, pytest-fast-only

Remove old code
  src/boilercv/old/__init__.py
  src/boilercv/old/_build.py
  src/boilercv/old/_contours.py
  src/boilercv/old/_contours_mp4.py
  src/boilercv/old/_convert_2021_06.py
  src/boilercv/old/_detect_surface.py
  src/boilercv/old/_remove_prefix.py
Due: sync-local-dev-configs, pytest-fast-only

Add tests to coverage, remove dead test helper function
  .vscode/tasks.json
  pyproject.toml
  tests/boilercv_tests/__init__.py
Due: sync-local-dev-configs, pytest-fast-only

Stop tracking data/scripts with DVC. Commit changes
  data/scripts.dvc
  dvc.lock
Due: none

Hack pipeline into the lock in preparation for moving study-specific code out of `boilercv`
  lock.json
  pipeline/boilercv_pipeline/__init__.py
  pipeline/pyproject.toml
  requirements/dev.in
Due: sync-python, sync-local-dev-configs, pytest-fast-only

Isolate dependencies
  .pre-commit-config.yaml
  .vscode/settings.json
  docs/pyproject.toml
  pipeline/pyproject.toml
  pyproject.toml
  scripts/boilercv_tools/__main__.py
  scripts/boilercv_tools/sync.py
  scripts/pyproject.toml
  tests/pyproject.toml
Due: sync-python, sync-local-dev-configs, pytest-fast-only

Remove unused stage
  dvc.yaml
Due: none

Pin `pyyaml-include` for now copier-org/copier#1568
  docs/pyproject.toml
  pipeline/pyproject.toml
  pyproject.toml
  requirements/dev.in
  scripts/pyproject.toml
  tests/pyproject.toml
Due: sync-python, sync-local-dev-configs, pytest-fast-only

Migrate out captivate
  docs/boilercv_docs/nbs.py
  pipeline/boilercv_pipeline/__init__.py
  pipeline/boilercv_pipeline/captivate/__init__.py
  pipeline/boilercv_pipeline/captivate/captures.py
  pipeline/boilercv_pipeline/captivate/previews.py
  pipeline/boilercv_pipeline/examples/blobs/bubbles.py
  pipeline/boilercv_pipeline/examples/blobs/galaxy.py
  pipeline/boilercv_pipeline/examples/contours.py
  pipeline/boilercv_pipeline/examples/cv/__main__.py
  pipeline/boilercv_pipeline/examples/cv/basic_test.py
  pipeline/boilercv_pipeline/examples/cv/starry.py
  pipeline/boilercv_pipeline/examples/detect_surface.py
  pipeline/boilercv_pipeline/examples/fill.py
  pipeline/boilercv_pipeline/examples/large/__init__.py
  pipeline/boilercv_pipeline/examples/large/combined.py
  pipeline/boilercv_pipeline/examples/previews/binarized_composite.py
  pipeline/boilercv_pipeline/examples/previews/gray_composite.py
  pipeline/boilercv_pipeline/examples/previews/multicolor_composite.py
  pipeline/boilercv_pipeline/examples/previews/triple_composite.py
  pipeline/boilercv_pipeline/examples/save_roi.py
  pipeline/boilercv_pipeline/previews/__main__.py
  pipeline/boilercv_pipeline/previews/binarized.py
  pipeline/boilercv_pipeline/previews/composite.py
  pipeline/boilercv_pipeline/previews/filled.py
  pipeline/boilercv_pipeline/previews/gray.py
  pipeline/boilercv_pipeline/stages/preview/__init__.py
  pipeline/pyproject.toml
  pyproject.toml
  src/boilercv/captivate/__init__.py
Due: sync-python, sync-local-dev-configs, pytest-fast-only

Include scripts in coverage
  pyproject.toml
Due: none

Fix template bumping error action preference
  scripts/Sync-Template.ps1
Due: none

Sync project with template
  .copier-answers.yml
Due: none

Sync and lock
  lock.json
Due: none

Attempt to cache
  .github/workflows/changerelease.yml
  .github/workflows/ci.yml
  .github/workflows/contrib.yml
  .github/workflows/docs.yml
  .github/workflows/high.yml
  .github/workflows/release.yml
Due: none

Rename cache, include Python version
  .github/workflows/changerelease.yml
  .github/workflows/ci.yml
  .github/workflows/contrib.yml
  .github/workflows/docs.yml
  .github/workflows/high.yml
  .github/workflows/release.yml
Due: none

Don't split cache by Python version
  .github/workflows/ci.yml
  .github/workflows/contrib.yml
  .github/workflows/docs.yml
  .github/workflows/high.yml
  .github/workflows/release.yml
Due: none

Sync project with template
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/contrib.yml
  .github/workflows/docs.yml
  .github/workflows/high.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  docs/pyproject.toml
  tests/pyproject.toml
Due: sync-python, sync-local-dev-configs, pytest-fast-only

Sync project with template
  .copier-answers.yml
  .github/workflows/contrib.yml
Due: none

Re-restrict the matrix
  .github/workflows/ci.yml
  .github/workflows/high.yml
Due: none

Include non-root `pyproject.toml` deps in compilation compatibility check
  scripts/boilercv_tools/sync.py
Due: none

Assignment expression re-executed every iteration of generator expression, so assign it up-front instead.
  scripts/boilercv_tools/sync.py
Due: none

Sync with template
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/ISSUE_TEMPLATE/ideas-for-docs.yaml
  .github/ISSUE_TEMPLATE/infrastructure-change.yaml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/contrib.yml
  .github/workflows/docs.yml
  .github/workflows/high.yml
  .github/workflows/release.yml
  .markdownlint-cli2.yaml
  .vscode/tasks.json
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  changelog/towncrier_template.md.jinja
  docs/boilercv_docs/__init__.py
  docs/boilercv_docs/nbs.py
  docs/changelog.md
  docs/conf.py
  docs/contributing.md
  docs/index.md
  docs/pyproject.toml
  docs/refs-template.bib
  pyproject.toml
  requirements/dev.in
  scripts/Initialize-Shell.ps1
Due: sync-python, sync-local-dev-configs, pytest-fast-only

Sync with template
  .copier-answers.yml
  docs/conf.py
  scripts/Sync-Template.ps1
Due: sync-local-dev-configs, pytest-fast-only

Sync with template
  .copier-answers.yml
  docs/conf.py
  docs/pyproject.toml
  scripts/pyproject.toml
  tests/pyproject.toml
Due: sync-python, sync-local-dev-configs, pytest-fast-only

Sync with template
  .copier-answers.yml
  .vscode/tasks.json
  docs/contributing.md
  scripts/Sync-Template.ps1
Due: sync-local-dev-configs, pytest-fast-only

Fix notebook patching
  docs/boilercv_docs/patch_nbs.py
  docs/conf.py
  docs/experiments/e230920_subcool/find_centers.ipynb
  docs/experiments/e230920_subcool/find_contours.ipynb
  docs/experiments/e230920_subcool/find_objects.ipynb
  docs/experiments/e230920_subcool/find_tracks.ipynb
  docs/experiments/e230920_subcool/find_tracks_trackpy.ipynb
  docs/experiments/e230920_subcool/get_thermal_data.ipynb
  docs/experiments/e230920_subcool/plot_tracks.ipynb
  docs/experiments/e240215_plotting/palettes.ipynb
  scripts/Sync-Py.ps1
Due: sync-local-dev-configs, hide-docs-nb-inputs, pytest-fast-only

Move `myst-parser` to core docs deps
  docs/pyproject.toml
Due: sync-python, sync-local-dev-configs, pytest-fast-only
